@mixin lightmode-syntax() {
  pre.highlight {
    // background: #fafafa;
    color: #383a42;
  }
  // .highlight pre {
  //   background: #fafafa;
  // }
  .highlight table td {
    padding: 5px;
  }
  .highlight table pre {
    margin: 0;
  }
  .highlight {
    color: #272822;
  }
  .highlight .w {
    color: #f92672;
  }
  .highlight .err {
    color: #dcb2a3;
    background-color: #f92672;
  }
  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #80bc8f;
    font-style: italic;
  }
  .highlight .cp {
    color: #ff4500;
  }
  .highlight .nt {
    color: #f4bf75;
  }
  // 연산자
  .highlight .o,
  .highlight .ow {
    color: #00e874;
  }
  // 괄호
  .highlight .p,
  .highlight .pi {
    color: #315a5a;
  }
  .highlight .gi {
    color: #a6e22e;
  }
  .highlight .gd {
    color: #f92672;
  }
  .highlight .gh {
    color: #f92672;
    background-color: #272822;
    font-weight: bold;
  }
  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv {
    color: #ae81ff;
  }
  .highlight .kc {
    color: #fd971f;
  }
  .highlight .kt {
    color: #fd971f;
  }
  .highlight .kd {
    color: #1e90ff;
  }
  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: #a6e22e;
  }
  .highlight .sa {
    color: #ae81ff;
  }
  .highlight .sr {
    color: #a1efe4;
  }
  .highlight .si {
    color: #f92672;
  }
  .highlight .se {
    color: #cc6633;
  }
  .highlight .nn {
    color: #f4bf75;
  }
  .highlight .nc {
    color: #f92672;
  }
  .highlight .no {
    color: #f4bf75;
  }
  .highlight .na {
    color: #66d9ef;
  }
  // number?
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #fd971f;
  }
  .highlight .ss {
    color: #a6e22e;
  }
  .highlight .lineno {
    color: #9d9d9f;
    user-select: none;
  }
  .highlight .ln {
    color: #9d9d9f;
    user-select: none;
  }
  .highlight .ln:after {
    content: ' ';
  }
  .highlight .hll {
    color: #383a42;
    background-color: #e5e5e6;
  }
  .highlight .hl {
    color: #383a42;
    background-color: #e5e5e6;
  }
  .highlight .language-json .w + .s2 {
    color: #e45649;
  }
  .highlight .language-json .kc {
    color: #0184bc;
  }
}
body {
  @include lightmode-syntax();
}
@media screen {
  body.light-mode {
    @include lightmode-syntax();
  }
}
