/* 나중에 scss 등으로 관리하고, minify하는 계획으로 갈게요 */

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 2px;
}

/* @media (prefers-color-scheme: light) { */
::-webkit-scrollbar {
  /* background-color: rgb(251, 251, 251); */
  width: 4px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

/* } */

/*
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    background-color: #000;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #666;
  }
}
*/

.ProseMirror-hideselection *::selection {
  color: inherit;
  background: inherit;
}
